@page
@model MegaDeskWebWeek8.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="homepage-h1">Mega Desk</h1>

<p><a class="btn btn-primary" asp-area="" asp-page="/Desks/Index">Go to Desk Quotes</a></p>
